/* Pieces intro Animation */

@keyframes piece_intro_5_row {
  from { top: -35px; opacity: .2; }
  to   { top: 350px; opacity: 1; }
}
.piece_animate_intro_5 {
  animation: piece_intro_5_row 200ms;
}

@keyframes piece_intro_4_row {
  from { top: -35px; opacity: .2; }
  to   { top: 280px; opacity: 1; }
}
.piece_animate_intro_4 {
  animation: piece_intro_4_row 200ms;
}

@keyframes piece_intro_3_row {
  from { top: -35px; opacity: .2; }
  to   { top: 210px; opacity: 1; }
}
.piece_animate_intro_3 {
  animation: piece_intro_3_row 200ms;
}

@keyframes piece_intro_2_row {
  from { top: -35px; opacity: .2; }
  to   { top: 140px; opacity: 1; }
}
.piece_animate_intro_2 {
  animation: piece_intro_2_row 200ms;
}

@keyframes piece_intro_1_row {
  from { top: -35px; opacity: .2; }
  to   { top: 70px; opacity: 1; }
}
.piece_animate_intro_1 {
  animation: piece_intro_1_row 200ms;
}

/* pieces connected annimation */

@keyframes pieces_connected {
  0%   { border-color: transparent; }
  30%  { border-color: purple; }
  70%  { border-color: purple; }
  100% { border-color: transparent; }
}
.piece.connected {
  border: 15px solid purple;
  animation: pieces_connected 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

 /* player turn animation */

@keyframes player_turn_change {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.turn_info_changed {
  animation: player_turn_change 1s;
}

/* modal animation */
@keyframes modal_intro {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* game over animation */

@keyframes player_1_won_animation {
  from { background-color: white; }
  to   { background-color: #DE7E7E }
}
@keyframes player_0_won_animation {
  from { background-color: white; }
  to   { background-color: #F1F191 }
}
