.title {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5em;
}
.game_explanation {
  width: 700px;
  text-align: center;
  margin: 5px auto 0 auto;
  color: grey;
  font-size: 1.1em;
  margin-bottom: 30px;
}

.turn_info {
  text-align: center;
  font-size: 1.2em;
}
.turn_info.player0 {
  display: none;
}
.turn_info .piece {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  display: inline-block;
  position: relative;
  top: 12px;
  border: none;
}

.game_over_info {
  display: none;
  text-align: center;
  font-size: 2em;
}
.game_over_info.bottom_info {
  margin-top: 450px;
}

a.play_again_btn {
  display: block;
  background: #6180A7;
  color: white;
  margin: 1em auto;
  margin-bottom: 0;
  border: none;
  font-size: .6em;
  padding: .4em 2em;
  box-shadow: #909090 0 0 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

body.player_1_won {
  background: #DE7E7E;
  animation: player_1_won_animation 500ms;
}
body.player_0_won {
  background: #F1F191;
  animation: player_0_won_animation 500ms;
}
